.header-title {
  text-align: center;
  color: black;
  padding: 2rem;
  background-color: grey;
  border-radius: 2rem;
  margin: 2rem auto;
  width: 40%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add-todo{
  text-align: center;
  margin: 2rem auto;
  margin-top: 5rem;
  width: 60%;
  padding: 2rem;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.add-todo h3 {
  margin-bottom: 1rem;
  color: #333;
}
.container {
  border: 1px solid grey;
  border-radius: 1rem;
  align-items: center;
  margin: auto;
  padding: 2rem;
}
.container h2{
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}
